html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background-primary-color {
  background-color : #003b75 !important;
  
}

.text-primary-color {
  color : #003b75 !important;
}

/* Override the button color to blue */
.pagination-nav .pagination-prev,
.pagination-nav .pagination-next,
.pagination-nav .pagination-ellipsis,
.pagination-nav .pagination-page {
  background-color: blue !important; /* Change to your desired shade of blue */
  color: white; /* Change text color if needed */
}
